@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background-image: url("Assets/PNG files/AOE-background.jpg.jpg");
   background-size: cover;
   font-family:'UnifrakturCook', cursive; 
}

/* Navbar settup */

.navbar {
    background-color: tan;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    position:sticky;
}

.logo {
    padding: 20px 10px;
}

.nav-ul .nav-li {
    display: inline-block;
    padding: 20px 10px;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
}

 nav li a {
    font-weight: 800;
    font-size: 25px;
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 10px;
}

 nav a::before {
    content:'';
    display: block;
    height: 5px;
    width: 100%;
    background-color: brown;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}  

/* Civilization selection section */


.select {
    border: solid 2px red;
    margin: 10px;
    text-align: center;
}

.civ-1-menu {
    border: solid 2px blue;
    margin: 2px;
    align-content:center;
}

#civilization-1, #civilization-2 {
    margin: 60px;
    position: absolute;
}

.civ-2-menu {
    border: solid 2px green;
    margin: 2px;
}

#helmet-1 #helmet-2 {
   width: 10%;
   height: 10%;
}

#compare {
    margin: 20px;
}

/* Civilization info section */

.civ-info-container {
    border: solid 2px red;
    margin: 2px;
}

.civ-1-container {
    border: solid 2px blue;
    margin: 2px;
}

.civ-2-container {
    border: solid 5px white;
    margin: 2px;
}
}

.civ-info-container {
    border: solid 2px green;
    margin: 2px;
}

.civ-1-input {
    text-align: center;
}

.civ-2-input {
    text-align: center;
}


/* Footer section */


footer {
    align-content: flex-end;
    text-align: center;
}